
<div class="row">
  <div class="col-md-3">
    <%= link_to "Back to posts", posts_path, class: 'btn btn-secondary mb-3' %>
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Editing post</h4>

        <%= render "form", post: @post %>
      </div>
    </div>

  </div>
  <div class="col-md-9">
  <div class="mb-3">
    <%= simple_form_for([@post, @paragraph]) do |f| %>
      <%= f.hidden_field :element_type, value: 'paragraph' %>
      <%= f.submit 'Paragraph', class: 'btn btn-primary' %>
    <% end %>
  </div>

    <% @post.elements.each do |element| %>
      <% if element.persisted? %>
        <%= simple_form_for([@post, element]) do |f| %>
          <%= f.text_area :content %>
          <%= f.submit 'Save', class: 'btn btn-primary' %>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
